body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: aqua;
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.casilla {
    display: inline-flex;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
}

.start-btn {
    margin: 1rem;
    width: 5rem;
    height: fit-content;
    background-color: burlywood;
    cursor: pointer;
}

.estado {
    color: black;
    font-size: 2rem;
    margin-top: 1rem;
}

#pulsador1 {
    background-color: #d37272ff;
    border-top-left-radius: 50%;
}

#pulsador2 {
    background-color: #428aedff;
    border-top-right-radius: 50%;
}

#pulsador3 {
    background-color: #7dd3b6ff;
    border-bottom-left-radius: 50%;
}

#pulsador4 {
    background-color: #c9e082ff;
    border-bottom-right-radius: 50%;
}